.App {
  margin-top: 30px;
  text-align: center;
}

.label {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  font: 14px/50px Tahoma;
  transition: all 0.18s ease-in-out;
  border: 1px solid #333;
  color: #333;
}

.label:hover {
  color: white;
  background: #333;
}

.row{
  display: flex;
  justify-content: center;
}
