@import 'rsuite/dist/rsuite.css';

.main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-article {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.logo-title {
    height: 100%;
    color: #8a2be2;
    color: #201f1f;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 5px 5px 5px 5px rgb(52, 0, 100);
    box-shadow: rgba(52, 0, 100, 0.4) -5px 5px, rgba(52, 0, 100, 0.3) -10px 10px, rgba(52, 0, 100, 0.2) -15px 15px,
        rgba(52, 0, 100, 0.1) -20px 20px, rgba(52, 0, 100, 0.05) -25px 25px;
    padding: 10px;
}

.rules-article {
    font-size: 1.5rem;
    color: #dc143c;
    border: 2px solid rebeccapurple;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 48px;
    max-width: 700px;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 620px;
}

.row {
    margin: 10px 0 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PDF-file,
.XLSX-file {
    display: none;
}

.btn {
    display: block;
    width: 215px;
    height: 46px;
    background: #333;
    border-radius: 2px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 16px;
    letter-spacing: 0.1px;
    font-size: 1.25rem;
    font-weight: 600;
}

.button {
    background: #8a2be2;
    border-radius: 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: none;
    height: 50px;
    width: 150px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
}

.disableBtn {
    background: #c9b0e0;
}

.progress,
.excel-downloaded {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.progress-line.rs-progress-line {
    width: 360px;
}

.progress-label,
.excel-downloaded-label {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}
.rs-progress-icon-success svg {
    stroke: #8a2be2 !important;
    width: 2rem;
    height: 2rem;
}
